/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
html,body{
   height: 100%;
   font-family: 'Muli', sans-serif;
}

a:hover { text-decoration: none }

.logo-27 a {
    color: #000;
}
.logo-27 h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}
.logo-27 h1 span {
    font-size: 14px;
    position: absolute;
    right: -14px;
    top: 0;
}
.menu-triger-27 span {
    background-color: #000;
    display: block;
    height: 2px;
    transition: all 0.3s ease 0s;
}
.menu-triger-27 span:nth-child(2) {
    margin: 7px 0;
}
.menu-triger-27 {
    display: inline-block;
    width: 30px;
}
.menu-triger-27:hover span:nth-child(1), .menu-triger-27:hover span:nth-child(3) {
    margin: 0 5px;
}
.header-area {
  left: 0;
  padding: 40px 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.portfolio-1{
  background-image: url(../img/protfolio-1.jpg);
}
.portfolio-2{
  background-image: url(../img/protfolio-2.jpg);
}
.portfolio-3{
  background-image: url(../img/portfolio-3.png);
}
.portfolio-4{
  background-image: url(../img/portfolio-4.png);
}
.portfolio-5{
  background-image: url(../img/protfolio-5.jpg);
}
.portfolio-6{
  background-image: url(../img/protfolio-6.jpg);
}
.portfolio-7{
  background-image: url(../img/protfolio-7.jpg);
}
.portfolio-8{
  background-image: url(../img/portfolio-8.png);
}
.portfolio-9{
  background-image: url(../img/protfolio-9.jpg);
}
.portfolio-10{
  background-image: url(../img/protfolio-10.jpg);
}
.portfolio-11{
  background-image: url(../img/protfolio-11.jpg);
}






.single-portfolio-item-27 {
    background-position: center center;
    background-size: 100% auto;
    display: table;
    float: left;
    height: 300px;
    transition: all 0.5s ease 0s;
    width: 25%;
}
.portfolio-list-27 {
  margin-bottom: 300px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.portfolio-hover-27 {
    background-color: #fff;
    display: table-cell;
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    visibility: hidden;
}
.portfolio-hover-27 a {
    color: #333;
    font-size: 25px;
}
.portfolio-hover-27 p a {
  font-size: 18px;
  opacity: 0.5;
  transition: all 0.5s ease 0s;
}

.single-portfolio-item-27:hover .portfolio-hover-27 {
    opacity: 1;
    visibility: visible;
}
.single-portfolio-item-27:hover {
    background-size: 120% auto;
}
.portfolio-hover-27 p:hover a {
    opacity: 1;
}

.portfolio-hover-27 p {
  text-transform: uppercase;
}


.footer-area-27 {
    background-color: #613ad6;
    line-height: 2;
}
.footer-area-27, .footer-area-27 a {
    color: #fff;
    padding: 80px 0;
}
.footer-area-27 a {
    opacity: 0.8;
}
.footer-area-27 h2 a {
    font-size: 24px;
    opacity: 1;
}
.footer-logo a {
    font-size: 25px;
    text-transform: uppercase;
}
.footer-logo {
    display: inline-block;
    position: relative;
}
.footer-logo span {
    font-size: 10px;
    position: absolute;
    right: -14px;
    top: 6px;
}

.footer-area-27 ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 75px;
}

.footer-area-27 {
  background-color: #613ad6;
  line-height: 2;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;}
}
.footer-area-27, .footer-area-27 a {
    color: #fff;
    padding: 80px 0;
}
.footer-area-27 a {
    opacity: 0.5;
    font-size: 25px;
}
.footer-area-27 h2 a {
    font-size: 24px;
    opacity: 1;
}
.footer-logo a {
    font-size: 25px;
    text-transform: uppercase;
}
.footer-logo {
    display: inline-block;
    position: relative;
}
.footer-logo span {
    font-size: 10px;
    position: absolute;
    right: -14px;
    top: 6px;
}
.footer-area-27 p {
  opacity: 0.7;
  font-size: 22px;
}
.footer-area-27 ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 75px;
}

.single-portfolio-item-27.long {
    height: 600px;
}
.single-portfolio-item-27.boxed {
    height: 600px;
    width: 50%;
}
